# PROBLEM SET 2 #

**QUESTION 1**

In [7]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2
b()
b()
b()
a

6

==> The value evaluated at the end of the expression ( which is >>a) is 6. ==> At first the variable (a) has assigned the value zero(0) , then the function b that the sets of values of a. which calls function c with a, where it returns the result by adding 2 it. As seen a = 0 , then by executing b() it will call the function b and will get a = c(0) (which calls function c ), Therefore, function c will return a +2 (where, initially a = 0). On the first execution of >>b() we get 2. On the second time execution of >>b() it will call function b now the value of a is 2 and a = c(2), then it will call the function c in which value of a (2) + 2 will get 4. This code execute three times >>b() which will return the result of a is 6 ( by using same process).

**QUESTION 2**

In [12]:
def fileLength(filename):
    try:
        infile = open(filename)
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"File {filename} not found.")

fileLength('FileLength.txt')

123

In [4]:
fileLength('idterm.py')

File idterm.py not found.

**QUESTION 3**

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self,item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

class Kangaroo(Marsupial):
    def __init__(self,x=0,y=0):
        super().__init__()
        self.x=x
        self.y=y
        
    def jump(self,dx,dy):
        self.x+=dx
        self.y+=dy
        
    def __str__(self):
        return "I'm a kangaroo located at locations({},{})".format(self.x,self.y)
    

k = Kangaroo(0,0)
print(k)
k.put_in_pouch('Toy')
k.put_in_pouch('Krishna')
k.put_in_pouch('Dog')
print(k.pouch_contents())
k.jump(3,10)
k.jump(9,4)
k.jump(15,1)
print(k)

['doll', 'firetruck', 'kitten']
I'm a kangaroo located at locations(0,0)
['Toy', 'Krishna', 'Dog']
I'm a kangaroo located at locations(27,15)

**QUESTION 4**

In [9]:
def collatz(x):
    print(x)
    if x==1:
        return 
    elif x%2==0:
        collatz(x//2)
    else:
            collatz(3*x+1)
collatz(10)

10
5
16
8
4
2
1

**QUESTION 5**

In [10]:
def binary(n):
    if n == 0:
        return ("0")
    elif n==1:
        return ("1")
    else:
        return binary(n // 2) + str(n % 2)
#print("0:",end="")
binary(0)
#print("/n1:",end="")
binary(1)
#print("/n3:",end="")
binary(3)
#print("/n9:",end="")
binary(9)

'1001'

**QUESTION 8**



A) All the temperature data.

ANS:

select * from temperature;

B) All the cities, but without repetition.

ANS:

select distinct City from temperature;

select city from temperature group by city;

C) All the records for India.

ANS:

select * from temperature where Country='India';

D) All the Fall records.

ANS:

select * from temperature where season ='Fall';

E) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

ANS:

select city, country, season from temperature where Rainfall between 200 and 400;

F) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

ANS:

select city,country from temperature where temperature>20 order by temperature asc;

G) The total annual rainfall for Cairo.

ANS:

select sum(Rainfall) as "annual rainfall" from temperature where city='Cairo';

H) The total rainfall for each season.

ANS:

select season,sum(Rainfall) as "annual rainfall" from temperature group by season;

**QUESTION 9**

In [11]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

upper = []
lower = []
counts = []
combinations = [] 
lenghtArr = []

for word in words : 
    upper.append(word.upper())
    lower.append(word.lower())
    counts.append(len(word))
    combinations.append([word.upper(), word.lower(), len(word)])
    if len(word) > 3 : 
        lenghtArr.append(word)
print(upper)
print(lower)
print(counts)   
print(combinations)  
print(lenghtArr)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']